.topnav {
    overflow: hidden;
    background-color: rgb(55, 167, 55);
    background-attachment: fixed;

    font-family: 'Pacifico';
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 17px 35px;
  text-decoration: none;
  font-size: 20px;
}

.topnav a.active {
  background-color:rgb(5, 63, 5);
  color: white;
}

.topnav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.topnav li{
    display: inline;
}